
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  margin: 0 auto;
  font-weight: normal;
  font-family: monospace;
}

a {
 text-decoration: none;
 color: white;
 transition: color 0.1s ease-out;
}

a:active {
  color: #B915CC;
}
a:hover {
  color: #8DE41C;
}
*::selection {
  background-color: #8DE41C;
  color: black;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
  h1 {
    font-size: 10rem;
  }
  h2 {
    font-size: 2rem;
  }
}
